@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    height: 100vh;
     /* display: flex;  */
    background-color: rgb(242, 244, 247);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    /*from yt*/
    line-height: 1.5;
	  font-family: 'Raleway', sans-serif;
	  font-weight: 400;
}
body.hidden-scrolling{
	overflow-y: hidden;
}

.container{
	max-width: 1450px;
	margin:auto;
	
}
ul{
	list-style: none;
	margin:0;
	padding:0;
}
a{
	text-decoration: none;
}
/*header*/
.header{
	position: absolute;
	width: 100%;
	left:0;
	top:0;
	z-index: 99;
	padding: 20px;
  
}
.header-main{
	background-color: #ffffff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 0;
	border-radius: 4px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.header .logo{
	padding: 0 15px;
}
.header .logo a{
	font-size: 30px;
	text-transform: capitalize;
	color: #662d91;
	font-weight: 600;
}
.header .nav-menu{
	padding: 0 15px;
}
.header .menu > .menu-item{
	display: inline-block;
	margin-left: 30px;
	position: relative;
}
.header .menu > .menu-item > a{
	display: block;
	padding: 12px 0;
	font-size: 16px;
	color: #000000;
	text-transform: capitalize;
	font-weight: 600;
	transition: all 0.3s ease;
}
.header .menu > .menu-item > a .plus{
	display: inline-block;
	height: 12px;
	width: 12px;
	position: relative;
	margin-left:5px; 
	pointer-events: none;
}
.header .menu > .menu-item > a .plus:before,
.header .menu > .menu-item > a .plus:after{
	content:'';
	position: absolute;
	box-sizing: border-box;
	left: 50%;
	top:50%;
	background-color: #000000;
	height: 2px;
	width: 100%;
	transform: translate(-50%,-50%);
	transition: all 0.3s ease;
}
.header .menu > .menu-item:hover > a .plus:before,
.header .menu > .menu-item:hover > a .plus:after{
   background-color: #662d91;
}
.header .menu > .menu-item > a .plus:after{
   transform: translate(-50%,-50%) rotate(-90deg);	
}
.header .menu > .menu-item > .sub-menu > .menu-item > a:hover,
.header .menu > .menu-item:hover > a{
	color: #662d91;
}
.header .menu > .menu-item > .sub-menu{
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
	width: 120px;
	position: absolute;
	left:0;
	top:100%;
	background-color: #ffffff;
	padding: 10px 0;
	border-top: 3px solid #662d91;
	transform: translateY(10px);
	transition: all 0.3s ease;
	opacity:0;
	visibility: hidden;
}
@media(min-width: 992px){
.header .menu > .menu-item-has-children:hover > .sub-menu{
	transform: translateY(0);
	opacity: 1;
	visibility: visible;
 }
 .header .menu > .menu-item-has-children:hover > a .plus:after{
    transform: translate(-50%,-50%) rotate(0deg);		
 }
}
.header .menu > .menu-item > .sub-menu > .menu-item{
	display: block;
}
.header .menu > .menu-item > .sub-menu > .menu-item > a{
	display: block;
	padding: 10px 20px;
	font-size: 16px;
	font-weight: 600;
	color: #000000;
	transition: all 0.3s ease;
	text-transform: capitalize;
}
.header .open-nav-menu{
	height: 34px;
	width: 40px;
	margin-right: 15px;
	display: none;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
.header .open-nav-menu span{
	display: block;
	height: 3px;
	width: 24px;
	background-color: #000000;
    position: relative;
}
.header .open-nav-menu span:before,
.header .open-nav-menu span:after{
	content: '';
	position: absolute;
	left:0;
	width: 100%;
	height: 100%;
	background-color: #000000;
	box-sizing: border-box;
}
.header .open-nav-menu span:before{
	top:-7px;
}
.header .open-nav-menu span:after{
	top:7px;
}
.header .close-nav-menu{
	height: 40px;
	width: 40px;
	background-color: #ffffff;
	margin:0 0 15px 15px;
	cursor: pointer;
	display: none;
	align-items: center;
	justify-content: center;
}
.header .close-nav-menu img{
	width: 16px;
}
.header .menu-overlay{
	position: fixed;
	z-index: 999;
	background-color: rgba(0,0,0,0.5);
	left:0;
	top:0;
	height: 100%;
	width: 100%;
	visibility: hidden;
	opacity:0;
	transition: all 0.3s ease;
}
/* responsive for header */

@media(max-width: 991px){
	.header .menu-overlay.active{
	visibility: visible;
	opacity: 1;
}
	.header .nav-menu{
		position: fixed;
		right: -280px;
		visibility: hidden;
		width: 280px;
		height: 100%;
		top:0;
		overflow-y: auto;
		background-color: #222222;
		z-index: 1000;
		padding: 15px 0;
		transition: all 0.5s ease;
	}
	.header .nav-menu.open{
		visibility: visible;
		right: 0px;
	}
	.header .menu > .menu-item{
		display: block;
		margin:0;
	}
	.header .menu > .menu-item-has-children > a{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.header .menu > .menu-item > a{
		color: #ffffff;
		padding: 12px 15px;
		border-bottom: 1px solid #333333;
	}
	.header .menu > .menu-item:first-child > a{
	    border-top: 1px solid #333333;	
	}
	.header .menu > .menu-item > a .plus:before, 
	.header .menu > .menu-item > a .plus:after{
		background-color: #ffffff;
	}
	.header .menu > .menu-item-has-children.active > a .plus:after{
        transform: translate(-50%,-50%) rotate(0deg);
	}
	.header .menu > .menu-item > .sub-menu{
		width: 100%;
		position: relative;
		opacity: 1;
		visibility: visible;
		border:none;
		background-color: transparent;
		box-shadow: none;
		transform: translateY(0px);
		padding: 0px;
		left: auto;
		top:auto;
		max-height: 0;
		overflow: hidden;
	}
	.header .menu > .menu-item > .sub-menu > .menu-item > a{
		padding: 12px 45px;
		color: #ffffff;
		border-bottom: 1px solid #333333;
	}
	.header .close-nav-menu,
	.header .open-nav-menu{
		display: flex;
	}
}
/*end of responsive for header */
#banner{
  background-image: linear-gradient(rgba(33, 2, 55, 0.5), #20303b),
  url("img/bg1.webp");
  background-size: cover;
  background-position: center;
  height: 100svh;
  font-family: 'Kaushan Script', cursive;
  font-family: 'Poppins', sans-serif;
  }  
.banner-text{
  text-align: center;
  color: white;
  padding-top: 180px;
}
.mainbody .banner-text h1{
  font-size: 80px;
  font-family: 'Kaushan Script', cursive;
}
.banner-text p{
  font-size: 50px;
  font-style: italic;
  font-family: 'Poppins', sans-serif;
}
.banner-button{
  margin: 45px auto 0;
}
.banner-button a{
  width: 150px;
  text-decoration: none;
  font-size: 23px;
  font-style: italic;
  font-family: 'Kaushan Script', cursive;
  display: inline-block;
  margin: 0 10px;
  padding: 12px 0;
  color: white;
  border: .5px solid #fff;
  position: relative;
  z-index: 1;
  transition: color 0.5s;
}
.banner-button a span{
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  z-index: -1;
  transition: 0.5s;
}
.banner-button a:hover span{
  width: 100%;

}
.banner-button a:hover {
  color: #000;
}

/*main body*/  
.mainbody{
    margin: 45px;
	  margin-top: 100px;
    background-color: rgba(249, 247, 250, 0.867);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.mainbody p{
    text-align: center;
    font-size: x-large;
    font-family: 'Poppins', sans-serif;
} 

.mainbody .container .centered {
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}

.centered{
    width: 500px;
    height: 30px;
    display: flex;
    border-radius: 30px;
    background-color: white;
    align-items: center; 
    padding: 20px ;
    opacity: 0.6;
    position: fixed;
  }

  .centered >input{
    flex: 1;
    border: none;
    outline: none;
    font-size: 18px;
    padding-left: 10px;
  }
  

/**responsive for mainbody*/
@media(min-width: 992px){
	
}
@media only screen and (max-width: 991px) {
    body {
      background-color: rgb(219, 228, 231);
    }
	.mainbody{
		margin: 20px;
		margin-top: 100px;
	}
    /* .mainbody h1 {
        font-size: 30px;
    } */
    .mainbody p{
        font-size: 16px;
    }
    .mainbody .container img{
        height: 250px;
        width: 350px;
        padding: 10px;   
    }
    .mainbody .container .centered {
        top: 65%;
    }
    .centered{
        width: 200px;
		position: fixed;
    }  

}
/**end of responsive for mainbody*/

/**for post a job*/
.mainbody .heading{
  color:#662d91;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 15px;
  font-size: 50px;
  font-family: 'Kaushan Script', cursive;
}

.postbox .inbox{
  text-align: center;
  padding-bottom: 25px;
}

.inbox label{
  font-size: 20px;
}


.inbox input{
  font-size: 20px;
}

.submit{
  border: none;
    color: white;
    padding: 19px 32px;
    text-decoration: none;
    font-size: 16px;
    margin: 10px 30px 50px 490px;
    cursor: pointer;
    background-color: #662d91;
    /* position:relative; */
  }


/* new jobs start */
.browser{
  padding: 5px 9%;
  padding-bottom: 100px;
}

.browser .heading{
  text-align: center;
  padding-top: 200px;
  padding-bottom: 15px;
  font-size: 50px;
  font-family: 'Kaushan Script', cursive;
}

.browser .browser-container{
  display:grid ;
  /* grid-template-columns: repeat(auto-fit, minmax(260px, 1fr)); */
  gap: 20px;
}

.browser .browser-container .box{
  border-radius: 5px;
  background: #fff;
  /* text-align: center; */
  padding: 5px 20px;
  line-height: 1.8;
}

.browser .browser-container .box h3{
  font-size: 20px;
  /* margin-bottom: 1rem; */
  margin: 15px 0 5px 0;
  /* font-weight: 522; */
}

.browser .browser-container .box .button {
  border: none;
  color: white;
  padding: 10px 32px;
  text-decoration: none;
  font-size: 16px;
  margin: 40px 50px 0 950px;
  cursor: pointer;
  background-color: #662d91;
  position: absolute;
}

.browser .browser-container .box:hover{
  transform: scale(1.);
  z-index: 1;
  box-shadow: 0 0 45px rgba(0, 0, 0, .08);
}

.text-start{
  text-align: left;
}

.text-start span{
  color:#353535;
}
.text-start span i{
  color: #7b5996;  /*for icons*/
}

.me-3{
  margin-right: 1rem;
  font-size: 14px;
}

.ps-4{
  padding-left: 1.5rem;
}

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.img-fluid {
  max-width: 100%;
  height: auto;
  margin-top: 18px ;
  margin-bottom: 18px;
}

.d-flex {
  display: flex !important
}
@media (min-width: 768px) {
.col-md-8 {
  flex: 0 0 auto;
  width: 66.66667%
}
}
@media (min-width: 576px) {
.col-sm-12 {
  flex: 0 0 auto;
  width: 100%
}
}
.browser .btn{
border: none;
  color: white;
  padding: 19px 32px;
  text-decoration: none;
  font-size: 16px;
  margin: 40px 30px 0 490px;
  cursor: pointer;
  background-color: #662d91;
  position: absolute;
}

/* new job ends */

/* whyus start   */
.container1{
    padding: 15px 9%;
    padding-bottom: 100px;
}

.container1 .heading{
    text-align: center;
    padding-top: 200px;
    padding-bottom: 15px;
    font-size: 50px;
    font-family: 'Kaushan Script', cursive;
}

.container1 .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 15px;
}

.container1 .box-container .boxs .font{
    text-align: center;
    font-size: 40px;
    color: #662d91;
}

.container1 .box-container .boxs{
    border-radius: 5px;
    background: #fff;
    text-align: center;
    padding: 30px 20px;
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.2);
}

.container1 .box-container .boxs h3{
    font-size: 25px;
    padding: 10px 0;
}

.container1 .box-container .boxs p{
    font-size: 15px;
    line-height: 1.8;
}

.boxs:hover i,
.boxs:hover p{
  color:#fff ;
}

.boxs:hover h3{
  font-weight: 700;
}

.boxs:nth-child(1):hover{
  background: linear-gradient(45deg,
                                 rgba(88, 70, 159, 0.7) 0% ,
                                 rgba(136, 113, 199, 0.7)100% ) ,
                                  url('img/bg4.jpg');
                                  background-size: cover;
}

.boxs:nth-child(2):hover{
  background: linear-gradient(45deg,
                                 rgba(88, 70, 159, 0.7) 0% ,
                                 rgba(136, 113, 199, 0.7)100% ) ,
                                  url('img/privacy-by-design.png');
                                  background-size: cover;
}
.boxs:nth-child(3):hover{
  background: linear-gradient(45deg,
                                 rgba(88, 70, 159, 0.7) 0% ,
                                 rgba(136, 113, 199, 0.7)100% ) ,
                                  url('img/download\ \(1\).jpeg');
                                  background-size: cover;
}

/* whyus ends */
 
/*update/delete start */
.button2{
  border: none;
  color: white;
  padding: 10px 32px;
  text-decoration: none;
  font-size: 16px;
  margin: 40px 50px 0 950px;
  cursor: pointer;
  background-color: rgb(223, 42, 42);
  position: absolute; 
}

.button1{
  border: none;
  color: white;
  padding: 10px 32px;
  text-decoration: none;
  font-size: 16px;
  margin: 40px 50px 0 800px;
  cursor: pointer;
  background-color: #662d91;
  position: absolute;
}

.button0{
  border: none;
  color: white;
  padding: 10px 32px;
  text-decoration: none;
  font-size: 16px;
  margin: 40px 50px 0 670px;
  cursor: pointer;
  background-color: #774d97;
  position: absolute;
}




/* footer start */
footer{
    display: flex;
    flex-wrap: wrap;
    margin-top: auto;
    background-color: #ffffff;
    padding: 60px 10%;
}

ul{
    list-style: none;
}

span{
    color: #662d91;
}

.footer-col{
    width: 25%;
}

.footer-col h4{
    position: relative;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 22px;
    color: #662d91;
    text-transform: capitalize;
}

ul li:not(:last-child){
    margin-bottom: 8px;
}

ul li a{
    display: block;
    font-size: 19px;
    text-transform: capitalize;
    color: #080808;
    text-decoration: none;
    transition: 0.4s;
}

ul li a:hover{
    color: #662d91;
    padding-left: 5px;
}

.links a{
    display: inline-block;
    height: 44px;
    width: 44px;
    color: white;
    background-color: #662d91;
    margin: 0 8px 8px 0;
    text-align: center;
    line-height: 44px;
    border-radius: 50%;
    transition: 0.4s;
}

.links a:hover{
    color: #662d91;
    background-color: white;
}

@media(max-width: 740px){
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
        text-align: center;
    }

    .footer-col h4::before{
        all: unset;
    }
}

@media(max-width: 555px){
    .footer-col{
        width: 100%;
    }
}
/* footer ends */

  