
.mainbody {
	margin: 45px;
	margin-top: 100px;
	background-color: rgba(249, 247, 250, 0.867);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#banner1 {
	background-image: linear-gradient(rgba(33, 2, 55, 0.5), #061f30),
		url("img/eorkplace.jpg");
	background-size: cover;
	background-position: center;
	height: 400px;
	font-family: 'Kaushan Script', cursive;
	font-family: 'Poppins', sans-serif;
}

.banner1-txt {
	text-align: left;
	margin-left: 85px;
	color: white;
	padding-top: 120px;
}

.mainbody .banner1-txt h1 {
	font-size: 40px;
	font-family: 'Kaushan Script', cursive;
}

.banner1-txt p {
	font-size: 20px;
	margin-left: 85px;
	font-style: italic;
	font-family: 'Poppins', sans-serif;
}

.banner-btn {
	margin: 25px auto 0;
}

.banner-btn a {
	height: 40px;
	width: 80px;
	text-decoration: none;
	font-size: 20px;
	font-style: italic;
	font-family: 'Kaushan Script', cursive;
	display: inline-block;
	margin: 0 10px;
	padding: 3px 0;
	color: white;
	border: .5px solid #fff;
	position: relative;
	z-index: 1;
	transition: color 0.5s;
}

.banner-btn a span {
	width: 0;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: #fff;
	z-index: -1;
	transition: 0.5s;
}

.banner-btn a:hover span {
	width: 100%;

}

.banner-btn a:hover {
	color: #000;
}
.mainbody .heading {
	text-align: center;
    padding-top: 20px;
    padding-bottom: 15px;
    font-size: 50px;
	color: #662d91;
    font-family: 'Kaushan Script', cursive;
}