*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(143, 91, 68, 0.5), #93bcccab),url('job-searching.jpg');
    background-size: cover;
    background-position: center;
} 

.wrapper{ 
    position: relative;
    width: 400px;
    height: 400px;
    background: transparent;
    border: 2px solid rgb(255, 255, 255, 1);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* hides the another box*/
}

.wrapper.active-popup{
    transform: scale(1); 
}

.wrapper.active{
    height: 520px;
} */

.wrapper .ss-box{
    width: 100%;
    padding: 40px;
}

.wrapper.active .ss-box{
    transition: none;
    transform: translateX(-400px);
}

.wrapper .ss-box.register{
    position: absolute;
    transition: none;
    transform: translateX(400px);
}

.wrapper.active .ss-box.register{
    transition: transform .18s ease;
    transform: translateX(0);
}

.ss h1{
    font-size: 70px;
    color:white;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.ss-box h2{
    font-size: 30px;
    color: black;
    text-align: center;
}

.inbox{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #162938;
    margin: 30px 0;
}

.inbox label{
    position: absolute;
    top: 5px;
    left: 5px;
    transform: translateY(-50%);
    font-size: 18px;
    color: #162938;
    font-weight: 500;
    pointer-events: none;
}

.inbox input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 17px;
    color: #162938;
    padding: 0 35px 0 5px;
}

.inbox .icon{
    position: absolute;
    right: 8px;
    font-size: 20px;
    color: #162938;
    line-height: 55px;
}

.remember{
    font-size: 15px;
    color: #162938;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember label input{
    accent-color: #162938;
    margin-right: 3px;
}

.btn{
    width: 100%;
    height: 45px;
    background: #041535ab;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
}

.login-register{
    font-size: 15px;
    color: #162938;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

.login-register p a{
    color: #162938;
    text-decoration: none;
    font-weight: 600;
}

.login-register p a:hover{
    text-decoration: underline;
}
