*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    height: 100vh;
     /* display: flex;  */
    background-color: rgb(242, 244, 247);

    /* justify-content: center; */
    /* align-items: center; */
}

.menu_bar{
    background-color: #dcf5fd;
    background-color: #ffffff;
    height: 80px;
    width: 100%; 
    padding: 0 5% ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
    
.logo{
    color:#141212;
    font-size: 30px;
}

.logo span{
    color:#080593 ;
}

.menu_bar ul{
    list-style: none;
    display: flex;
}

.menu_bar ul li{
    padding: 10px 30px;
    position: relative;
}

.menu_bar ul li a{
    font-size: 20px;
    color: #000000;
    text-decoration: none;
    transition: all 0.3s;
}

.menu_bar ul li a:hover{
    color: #080593;
}

.dropdown_menu{
    display: none;
}

.menu_bar ul li:hover .dropdown_menu{
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: #ffffff;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.menu_bar ul li:hover .dropdown_menu ul{
    display: block;
    margin: 10px;
}

.menu_bar ul li:hover .dropdown_menu ul li{
    width: 150px;
    padding: 10px;
}
.mainbody{
    margin: 30px;
    background-color: rgba(238, 247, 249, 0.867);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.mainbody h1{
    text-align: center;
    padding: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;

}
.mainbody p{
    text-align: center;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
}
.mainbody img{
    height: 600px;
    width: 800px;
    padding: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
.mainbody .container .centered {
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
  }

  .centered{
    width: 500px;
    height: 30px;
    display: flex;
    border-radius: 30px;
    background-color: white;
    align-items: center; 
    padding: 20px ;
    opacity: 0.6;
    
  }

  .centered >input{
    flex: 1;
    border: none;
    outline: none;
    font-size: 18px;
    padding-left: 10px;
  }
  
.mainbody .feat p{
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
}

  