*{
    margin: 10px;
    padding: 20;
    **background-color: bisque;

}
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #ffffff;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    padding: 20px 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}
header img{
    max-width: 10%;
}
header .navbar ul{
    list-style: none;
}
header .navbar ul li{
    position: relative;
   
    float: left;
}
header .navbar ul li a{
    font-size: 20px;
    padding: 20px;
    color: black;
    display: block;
    text-decoration: none;
}
header .navbar ul li a:hover{
    
    color: burlywood;
}
header .navbar ul li ul{
    position: absolute;
    left: 0;
    width: 200px;
    background: #ffffff;
}
header .navbar ul li ul li{
    width: 100%;
    border-top: 1px solid black;
}

